h1, h2 {
    color: blue;
  }
  
  
  p {
    color: green;
  }
  
  ul {
    border: 5px solid orange;
  }
  
  ol {
    border: 5px solid purple;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 8px;
  }
  
  h1, strong {
    color: indigo;
  }
  
  em {
    color: pink;
  }
  