h1, h2 {
    color: blue;
    font-family: serif;
    font-weight: normal;
    font-size:4vw
    /* padding-bottom: 1.0em; */
  }
  
  
  p {
    color: green;
  }
  
  ul {
    border: 5px solid orange;
  }
  
  ol {
    border: 5px solid purple;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 8px;
  }
  
  h1, strong {
    color: indigo;
    /* font-size:3vw */
  }
  
  em {
    color: pink;
  }

  div{
    column-gap: 40px;
    column-count: 3;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: black;
  }
  
  .container {
    grid-template-columns:
       1fr 1fr;
    grid-template-areas:
      "heady heady"
      "navvy navvy"
      "mainy mainy"
      "aside1 aside2"
      "footy footy";
    }